@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Root Variables */
:root {
    --color-background: #f0f0f0;
    --color-font: #3a3b42;

    --border-radius: 1.2rem;

    --box-shadow-cards: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12);
    --box-shadow-buttons: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    --box-shadow-buttons-active: inset -10px -10px 15px rgba(255, 255, 255, 0.247), inset 10px 10px 15px rgba(70, 70, 70, 0.212);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;    
}

html {
    font-size: 14px;
}

body {
    /* font-size: 1rem; */
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
    color: var(--color-font);
    max-width: 100vw;
    min-height: 100vh;

    margin: 0 auto;
    /* user-select: none; */
    /* overflow-x: hidden; */
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 900;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.8rem;
}

h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

/* -------------------------------------------------------------- */

.container {
    display: grid;
    width: 96%;
    /* 0px for top and bottom, auto for left and right */
    margin: 0 auto;     /* pushses everything in the middle */
    /* background: #672d91; */
    gap: 1.8rem;
    /* 14 for the left section, auto for the right section */
    grid-template-columns: 15rem auto;
    padding-bottom: 30px;
}

/* ------------------------------- */

aside {
    height: 100hv;
    /* background: #672d91; */
}

aside .sidebar-logo {
    /* background: white; */
    display: flex;
    margin-top: 1.4rem;
    align-items: center;
    justify-content: space-between;
}

aside .logo {
    display: flex;
    gap: 0.8rem;
}

aside .logo img {
    width: 3rem;
    height: 3rem;
}

/* ------------------------------- */

aside .sidebar-content {
    display: flex;
    flex-direction: column;
    /* background: white; */
    position: relative;
    height: 80vh;
    top: 0.8rem;
    border-radius: var(--border-radius);
}

/* olo to plaisiou tou koumpiou */
aside .sidebar-content button {
    display: flex;
    /* color: #7d8da1; */
    margin-top: 0.8rem;
    padding-left: 0.5rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    color: var(--color-font);
    gap: 0.5rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 230ms ease;     /* animation */
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-buttons);
}

aside .sidebar-content #summary-statistics-btn,
aside .sidebar-content #differentiation-btn,
aside .sidebar-content #differentiation-rate-btn,
aside .sidebar-content #sum-up-to-100-btn {
    margin-top: 1.6rem;
}

/* to sumvolo dipla apo to onoma */
aside .sidebar-content button span {
    font-size: 1.8rem;
    transition: all 400ms ease;     /* make it more smooth */
}

/* otan einai pathmeno to koumpi - energo */
aside .sidebar-content button:focus {
    background: #f46a9b;
    color: #ffffff;
    margin-left: 0;
    box-shadow: var(--box-shadow-buttons-active);
}

/* me hover pas to eswteriko tou koumpiou pio mesa  */
aside .sidebar-content button:hover span {
    margin-left: 1rem;
}

/* -------------------------------------------------------------- */

.main-content {
    margin-top: 1.4rem;
    /* display: block;
    overflow: auto; */
    /* width: fit-content; */
}

/* ------------------------------- */

.main-content .main-title {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.main-content .main-title span {
    font-size: 3rem;
}

/* ------------------------------- */

.main-content .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.6rem;
    width: fit-content;
}

.main-content .cards > div {
    /* background: white; */
    padding: 1.8rem;
    border-radius: var(--border-radius);
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    margin-right: 0.8rem;
    box-shadow: var(--box-shadow-cards);
    /* transition: all 300 ease; */
}

.main-content .cards .import-download-file-container {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1;
    grid-row: 1;

    border-radius: none;
    box-shadow: none;

    padding: 0;
    margin: 0;
}

.main-content .cards .import-download-file-container .subgrid-file-import-container {
    grid-column: 1;
    grid-row: 1;

    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-cards);

    padding: 0;
    margin: 0;
    margin-bottom: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 25rem;
}

.main-content .cards .import-download-file-container .subgrid-file-download-container {
    /* background: crimson ; */
    grid-column: 1;
    grid-row: 2;

    border-radius: var(--border-radius);
    /* background-color: #222cb9; */
    box-shadow: var(--box-shadow-cards);

    padding: 0;
    margin: 0;
    margin-top: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 25rem;
}

/* ------------------------------- */

.main-content .cards .chart {
    min-width: 25rem;
    padding: 1rem;
    margin: 0;
    perspective: 500px;
}


.main-content .cards .radar {
    grid-column: 1;
    grid-row: 2;

    padding-bottom: 2.6rem;
}

.main-content .cards .bubble {
    grid-column: 1;
    grid-row: 3;

    padding-bottom: 2.5rem;
}

.main-content .cards .doughnut {
    grid-column: 2;
    grid-row: 1;

    padding-bottom: 2.5rem;
}


.main-content .cards .info-container {
    grid-column: 2 / 4;
    grid-row: 2;

    padding: 1rem;
    margin: 0;
}

.main-content .cards .polar-area {
    grid-column: 2;
    grid-row: 3;

    padding-bottom: 2.5rem;
}

.main-content .cards .bar {
    grid-column: 3;
    grid-row: 1;

    padding-bottom: 2.5rem;
}

.main-content .cards .line {
    grid-column: 3;
    grid-row: 3;

    padding-bottom: 2.5rem;
}

/* ------------------------------- */

.main-content .no-file-yet {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 6rem;
}

.main-content #no-file-yet-icon {
    color: #ffffff;
    font-size: 23rem;
    box-shadow: var(--box-shadow-buttons);
}

.main-content .no-file-yet-title {
    padding-top: 2rem;
    white-space: nowrap; 
}

.main-content .no-file-yet-text {
    white-space: nowrap; 
}



/* ------------------------------- */

.main-content .cards .summary-statistics-versions-card,
.main-content .cards .differentiation-versions-card,
.main-content .cards .differentiation-rate-versions-card,
.main-content .cards .sum-up-to-100-versions-card {
    grid-column: 1 / 3;
    grid-row: 1;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

    min-width: 50rem;
}

.main-content .cards .summary-statistics-properties-card,
.main-content .cards .differentiation-properties-card,
.main-content .cards .differentiation-rate-properties-card,
.main-content .cards .sum-up-to-100-properties-card {
    grid-column: 1;
    grid-row: 2 / 4;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;

    min-width: 30rem;
}

.main-content .cards .summary-statistics-axis-card,
.main-content .cards .differentiation-axis-card,
.main-content .cards .differentiation-rate-axis-card,
.main-content .cards .sum-up-to-100-axis-card {
    grid-column: 3;
    grid-row: 1;
}

.main-content .cards .summary-statistics-chart-display-card,
.main-content .cards .differentiation-chart-display-card,
.main-content .cards .differentiation-rate-chart-display-card,
.main-content .cards .sum-up-to-100-chart-display-card {
    grid-column: 2 / 4;
    grid-row: 2 / 4;

    /* min-width: 50rem; */
    min-height: 50rem;
}

/* ------------------------------- */

.main-content .cards .chart #ok {
    display: flex;
    /* flex-wrap: wrap; */
}

/* ------------------------------- */

.dynamicLabelMain {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    /* padding: 1rem; */
    float: left;
    border: 0.1rem solid #49aef1;
    border-radius: var(--border-radius);
    /* box-sizing: border-box; */
}

.dynamicLabel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    /* padding: 1rem; */
    float: left;
    border: 0.1rem solid #d4569c;
    border-radius: var(--border-radius);
    /* box-sizing: border-box; */
}

.dynamicLabelMain .dynamicSpanMain {
    padding: 0.5rem;
    /* transition: .1s ease; */
}

.dynamicLabel .dynamicSpan {
    padding: 0.5rem;
    /* transition: .1s ease; */
}

.dynamicLabelMain input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dynamicLabelMain input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.dynamicLabel input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked ~ .dynamicSpanMain {
    background-color: #49aef1;
    border-radius: 1rem;
}

input[type=checkbox]:checked ~ .dynamicSpan {
    background-color: #d4569c;
    border-radius: 1rem;
}

/* ------------------------------- */

.subgrid-file-import-container .file-import-container {
    display: grid;
    margin: 2rem 0.5rem;
    border-style: dashed;
    border-color: var(--color-font);
    border-width: 0.1rem;
    /* padding: 0.5rem 3rem; */

    /* min-width: 15rem; */
}

.min-width-container {
    min-width: 15rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.file-import-button-label {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.file-import-container .folder-open-icon {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.drag-and-drop-text {
    display: flex;
    /* margin-bottom: 1rem; */
    font-size: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.or-text {
    display: flex;
    /* margin-bottom: 1rem; */
    font-size: 0.8rem;
    justify-content: center;
    margin-bottom: 0.5rem;
}



#file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-upload + label,
#json-download, 
#reset,
.ok,
.selectDeselectAll {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    background-color: #27a6e6;
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    /* margin-top: 1rem;
    margin-left: 1.6rem; */
    box-shadow: var(--box-shadow-buttons-active);
    transition: all 500ms ease;
}

#file-upload + label {
    margin-left: 1rem;
    margin-right: 0.6rem;
    padding: 3px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#json-download {
    padding: 1rem;
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem; */

    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    white-space: nowrap;
}

#reset,
.ok,
.selectDeselectAll {
    padding: 1rem;
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem; */

    /* margin-top: 1rem;
    margin-left: 1.6rem; */

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.cardButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
    /* margin-left: auto; */
}

.cardButtons .ok-select-all-button-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* gap: 20rem; */
    /* margin-left: auto; */
}

.cardButtons .radio-button-container {
    display: flex;
    gap: 2rem;
}

.cardButtons .radio-button-container .radio-button {
    /* display: block; */
    position: relative;
    padding-left: 2.3rem;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 1.2rem;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
    /* user-select: none; */
}

/* Hide the browser's default radio button */
.cardButtons .radio-button-container .radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d8d8d8;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-button:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
/* .radio-button input:checked ~ .checkmark {
    background-color: #2196F3;
} */

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-button input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-button .checkmark:after {
    top: 0.5rem;
   left: 0.5rem;
   width: 0.83rem;
   height: 0.83rem;
   border-radius: 50%;
   background: rgb(102, 97, 97);
}




.cardButtons .selectDeselectAll {
    margin-right: 1rem;
}

#file-upload:hover + label,
#json-download:hover, 
#reset:hover,
.ok:hover,
.selectDeselectAll:hover {
  background-color: #2cb9ff;
  color: var(--color-font);
}

#file-chosen{
  font-weight: 550;
}

/* ------------------------------- */





.flip-card {
    display: block;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
    /* cursor: pointer; */
}

/* .radar:hover > .flip-card,
.bubble:hover > .flip-card,
.doughnut:hover > .flip-card,
.polar-area:hover > .flip-card,
.bar:onclick > .flip-card,
.line:hover > .flip-card {
    cursor: pointer;
    transform: rotateY(180deg);
} */

.flip-card.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    height: 100%;
    width: 100%;
    /* border-radius: 10px; */
    position:absolute;
    backface-visibility: hidden;

    

}

.flip-card-front {
    /* background-color: #914480; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.arrow-btn {
    cursor: pointer;
}

.arrow-chart-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    /* backface-visibility: hidden; */
}

/* .arrow-chart-title-front .h3-title {
    backface-visibility: hidden;
    transform: rotateY(180deg);
} */

/* .arrow-btn {
    cursor: pointer;
} */


/* .flip-card.is-flipped {
    transform: rotateY(180deg);
  } */