@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Root Variables */
:root {
    --color-background: #f0f0f0;
    --color-font: #3a3b42;

    --border-radius: 1.2rem;

    --box-shadow-cards: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12);
    --box-shadow-buttons: inset -10px -10px 15px rgba(255, 255, 255, 0.5), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    --box-shadow-buttons-active: inset -10px -10px 15px rgba(255, 255, 255, 0.247), inset 10px 10px 15px rgba(70, 70, 70, 0.212);
}

/* -------------------------------------------------------------- */

/* General Variables */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    box-sizing: border-box;    
}

html {
    font-size: 14px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-background);
    color: var(--color-font);
    max-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-weight: 900;
    font-size: 2rem;
}

h2 {
    font-weight: 700;
    font-size: 1.8rem;
}

h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

/* -------------------------------------------------------------- */

/* Main Container of the Page */

/* Contains the sidebar menu and each of the main containers. */
.container {
    display: grid;
    width: 96%;
    /* margin -> 0px for top and bottom, auto for left and right */
    margin: 0 auto;
    gap: 1.8rem;
    /* space-seperated -> 14 for the left section, auto for the right section */
    grid-template-columns: 15rem auto;
    padding-bottom: 30px;
}

/* -------------------------------------------------------------- */

/* Left Section of the Page - Logo / Sidebar Menu */

aside {
    height: 100hv;
}

/* -------------------------------------------------------------- */

/* Logo and Title */

aside .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

/* ------------------------------- */

aside .logo {
    display: flex;
    gap: 0.4rem;
}

aside .logo span {
    font-size: 3rem;
}

/* -------------------------------------------------------------- */

/* Sidebar Menu */

aside .sidebar-content {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    top: 0.8rem;
    border-radius: var(--border-radius);
    padding-top: 1.5rem;
}

/* ------------------------------- */

/* The palce holder of every button. */
aside .sidebar-content button {
    display: flex;
    margin-top: 0.8rem;
    padding-left: 0.5rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    color: var(--color-font);
    gap: 0.5rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 230ms ease;     /* animation */
    cursor: pointer;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-buttons);
}

aside .sidebar-content #summary-statistics-btn,
aside .sidebar-content #differentiation-btn,
aside .sidebar-content #differentiation-rate-btn,
aside .sidebar-content #sum-up-to-100-btn {
    margin-top: 1.6rem;
}

/* The icon in the left side of the button text. */
aside .sidebar-content button span {
    font-size: 1.8rem;
    transition: all 400ms ease;     /* more smooth */
}

/* When the button is active - pressed. */
aside .sidebar-content button:focus {
    background: #2f4454;
    color: #ffffff;
    margin-left: 0;
    box-shadow: var(--box-shadow-buttons-active);
}

/* Hover to move the inside text of the button to the right.  */
aside .sidebar-content button:hover span {
    margin-left: 1rem;
}

/* -------------------------------------------------------------- */

/* Main / Right Section of the Page - Grid */

.main-content {
    margin-top: 1.4rem;
    /* display: block;
    overflow: auto; */
    /* width: fit-content; */
}

/* -------------------------------------------------------------- */

/* Title - Description of each Section */

/* Contains the title of each section. */
.main-content .main-title {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-bottom: 1.5rem;
}

/* ------------------------------- */

/* The icon on the left side of each title. */
.main-content .main-title span {
    font-size: 3rem;
}

/* The text of each title. */
.main-content .main-title .main-title-text {
    display: flex;
    align-items: center;
}

/* The discription of each title in everu section. */
#main-title-description {
    white-space: nowrap;
    padding-left: 1rem;
    min-width: 80rem;
}

/* -------------------------------------------------------------- */

/* Grid with Cards / Charts */

/* Creates the grid of every section. */
.main-content .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.6rem;
    width: fit-content;
}

/* Specifies the div elements of each grid. */
.main-content .cards > div {
    padding: 1.8rem;
    margin-top: 1rem;
    margin-right: 0.8rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-cards);
    /* transition: all 300 ease; */
}

/* ------------------------------- */

/* Container about the Excel File */

.main-content .cards .import-download-file-container {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-column: 1;
    grid-row: 1;

    border-radius: none;
    box-shadow: none;

    padding: 0;
    margin: 0;
}

/* ------------------------------- */

/* Subgrid where you can upload your Excel file. */
.main-content .cards .import-download-file-container .subgrid-file-import-container {
    grid-column: 1;
    grid-row: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    margin-bottom: 0.8rem;
    min-width: 25rem;

    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-cards);
}

.subgrid-file-import-container .file-import-container {
    display: grid;
    margin: 2rem 0.5rem;
    border-style: dashed;
    border-color: var(--color-font);
    border-width: 0.1rem;
    /* padding: 0.5rem 3rem; */

    /* min-width: 15rem; */
}

/* Subgrid where you can download your JSON file. */
.main-content .cards .import-download-file-container .subgrid-file-download-container {
    grid-column: 1;
    grid-row: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    margin-top: 0.8rem;
    min-width: 25rem;

    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-cards);
}

.min-width-container {
    min-width: 15rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* ------------------------------- */

.file-import-button-label {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.file-import-container .folder-open-icon {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.upload-file-text {
    display: flex;
    /* margin-bottom: 1rem; */
    font-size: 1rem;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.file-import-button-label {
    margin-right: 5rem;
    margin-left: 5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.file-import-container .folder-open-icon {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.or-text {
    display: flex;
    /* margin-bottom: 1rem; */
    font-size: 0.8rem;
    justify-content: center;
    margin-bottom: 0.5rem;
}

#file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file-upload + label,
#json-download, 
#reset {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    background-color: #2f4454;
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    /* margin-top: 1rem;
    margin-left: 1.6rem; */
    box-shadow: var(--box-shadow-buttons-active);
    transition: all 500ms ease;
}

#file-upload + label {
    margin-left: 1rem;
    margin-right: 0.6rem;
    padding: 3px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#json-download {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
}

#reset {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#file-upload:hover + label,
#json-download:hover, 
#reset:hover {
  background-color: #49677e;
  /* color: var(--color-font); */
}

#file-chosen{
  font-weight: 550;
}

/* -------------------------------------------------------------- */

/* Container about the Charts - Instructions in Dashboard */

.main-content .cards .chart {
    min-width: 25rem;
    padding: 1rem;
    margin: 0;
    perspective: 500px;
}

/* ------------------------------- */

.main-content .cards .radar {
    grid-column: 1;
    grid-row: 2;

    padding-bottom: 2.6rem;
}

.main-content .cards .bubble {
    grid-column: 1;
    grid-row: 3;

    padding-bottom: 2.5rem;
}

.main-content .cards .doughnut {
    grid-column: 2;
    grid-row: 1;

    padding-bottom: 2.5rem;
}


.main-content .cards .info-container {
    grid-column: 2 / 4;
    grid-row: 2;

    padding: 1rem;
    margin: 0;
}

.main-content .cards .info-container .upload-instructions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.main-content .cards .polar-area {
    grid-column: 2;
    grid-row: 3;

    padding-bottom: 2.5rem;
}

.main-content .cards .bar {
    grid-column: 3;
    grid-row: 1;

    padding-bottom: 2.5rem;
}

.main-content .cards .line {
    grid-column: 3;
    grid-row: 3;

    padding-bottom: 2.5rem;
}

/* ------------------------------- */

/* Flip Cards Display */

.flip-card {
    display: block;
    height: 100%;
    width: 100%;
    position:relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.flip-card.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    height: 100%;
    width: 100%;
    position:absolute;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-card-back {
    transform: rotateY(180deg);

    display: block;
    justify-content: center;
    align-items: center;
}

.flip-card-back .general_chart_info_text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

ul {
    padding-left: 1.3rem;
    list-style-type: square;
}

.flip-card-back .rest_chart_info_text {
    padding-top: 0.5rem;
}

.arrow-btn {
    cursor: pointer;
}

.arrow-chart-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* -------------------------------------------------------------- */

/* No File Yet Page Display */

.main-content .no-file-yet {
    
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    padding-top: 6rem;
}

/* ------------------------------- */

.main-content #no-file-yet-icon {
    color: #ffffff;
    font-size: 23rem;
    box-shadow: var(--box-shadow-buttons);
}

.main-content .no-file-yet-title {
    padding-top: 2rem;
    white-space: nowrap; 
}

.main-content .no-file-yet-text {
    white-space: nowrap; 
}

/* -------------------------------------------------------------- */

/* Section about Versions / Dates */

.main-content .cards .summary-statistics-versions-card,
.main-content .cards .differentiation-versions-card,
.main-content .cards .differentiation-rate-versions-card,
.main-content .cards .sum-up-to-100-versions-card {
    grid-column: 1 / 3;
    grid-row: 1;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    min-width: 50rem;
}

/* ------------------------------- */

/* Text about the Versions / Dates container */
#description-text {
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

/* Text about the primary and secondary Versions. */
.show-color-options-text {
    display: flex;
    gap: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    padding-right: 1rem;
    justify-content: center;
}

.show-color-options-text .color-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Color for primary Versions. */
.show-color-options-text .primary {
    color: #2e151b;
    padding-right: 0.5rem;
    font-size: 2rem;
}

/* Color for secondary Versions. */
.show-color-options-text .secondary {
    color: #da7b93;
    padding-right: 0.5rem;
    font-size: 2rem;
}

/* ------------------------------- */

/* Display Different the Primary and Secondary Versions Checkboxes */

.dynamicLabelMain,
.dynamicLabel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    float: left;
    border-radius: var(--border-radius);
}

.dynamicLabelMain {
    border: 0.1rem solid #2e151b;
}

.dynamicLabel {
    border: 0.1rem solid #da7b93;
}

.dynamicLabelMain .dynamicSpanMain,
.dynamicLabel .dynamicSpan {
    padding: 0.5rem;
    /* transition: .1s ease; */
}

.dynamicLabelMain input,
.dynamicLabel input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:checked ~ .dynamicSpanMain {
    background-color: #2e151b;
    color: white;
    border-radius: 1rem;
}

input[type=checkbox]:checked ~ .dynamicSpan,
input[type=radio]:checked ~ .dynamicSpan {
    background-color: #da7b93;
    color: white;
    border-radius: 1rem;
}

/* ------------------------------- */

/* Create Custom Radio Button */

.cardButtons .radio-button-container {
    display: flex;
    gap: 2rem;
}

.cardButtons .radio-button-container .radio-button {
    position: relative;
    padding-left: 2.3rem;
    cursor: pointer;
    font-size: 1.2rem;
}

/* Hide the browser's default radio button. */
.cardButtons .radio-button-container .radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #d8d8d8;
    border-radius: 50%;
}

.radio-button:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Create the dot / circle - hidden when not checked. */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the dot when checked. */
.radio-button input:checked ~ .checkmark:after {
    display: block;
}

/* Style the dot. */
.radio-button .checkmark:after {
    top: 0.5rem;
   left: 0.5rem;
   width: 0.83rem;
   height: 0.83rem;
   border-radius: 50%;
   background: rgb(102, 97, 97);
}

/* -------------------------------------------------------------- */

/* Section about Properties */

.main-content .cards .summary-statistics-properties-card,
.main-content .cards .differentiation-properties-card,
.main-content .cards .differentiation-rate-properties-card,
.main-content .cards .sum-up-to-100-properties-card {
    grid-column: 1;
    grid-row: 2 / 4;

    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

    min-width: 30rem;
}

/* -------------------------------------------------------------- */

/* Section about Chart Types */

.main-content .cards .summary-statistics-charts-card,
.main-content .cards .differentiation-charts-card,
.main-content .cards .differentiation-rate-charts-card,
.main-content .cards .sum-up-to-100-charts-card {
    grid-column: 3;
    grid-row: 1;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    min-width: 30rem;
}

/* -------------------------------------------------------------- */

/* Section about Chart Display */

.main-content .cards .summary-statistics-chart-display-card,
.main-content .cards .differentiation-chart-display-card,
.main-content .cards .differentiation-rate-chart-display-card,
.main-content .cards .sum-up-to-100-chart-display-card {
    grid-column: 2 / 4;
    grid-row: 2 / 4;

    min-height: 50rem;
}

/* -------------------------------------------------------------- */

/* Ok - Select / Deselect Button Container */

.cardButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20rem; */
    margin-left: auto;
}

.cardButtonsVersions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
    margin-right: auto;
}

.cardButtons .ok-select-all-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 20rem; */
    /* margin-left: auto; */
}

.cardButtons .selectDeselectAll {
    margin-right: 1rem;
}

/* ------------------------------- */

.ok,
.selectDeselectAll {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 700;
    display: inline-block;
    background-color: #2f4454;
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    gap: 0.5rem;
    /* margin-top: 1rem;
    margin-left: 1.6rem; */
    box-shadow: var(--box-shadow-buttons-active);
    transition: all 500ms ease;
}

.ok,
.selectDeselectAll {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.ok:hover,
.selectDeselectAll:hover {
  background-color: #49677e;
  /* color: var(--color-font); */
}

.main-content .cards .chart #ok {
    display: flex;
    /* flex-wrap: wrap; */
}







/* ------------------------------- */

  #summary-statistics-z-axis-modal,
  #differentiation-z-axis-modal,
  #differentiation-rate-z-axis-modal,
  #sum-up-to-100-z-axis-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* width: 70%; */
  
    background-color: var(--color-background);
    /* padding: 1rem; */
    /* border-radius: 3rem; */
    box-shadow: var(--box-shadow-cards);
    /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
    z-index: 10;
  }
  
  .summary-statistics-overlay,
  .differentiation-overlay,
  .differentiation-rate-overlay
  .sum-up-to-100-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }

  #modal-ok-btn {
    display: flex;
  }